$accentColor = #2196F3
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #2196F3
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
// https://s2.ax1x.com/2019/07/03/ZNFR3j.png