// Theme's Palette
@import("F:/blacklisten/vuepressblogs/node_modules/vuepress-theme-reco/styles/palette.styl")

// User's Palette
@import("F:/blacklisten/vuepressblogs/docs/.vuepress/styles/palette.styl")